*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: rgb(51,51,51);
	line-height: 1;
}
ul, ol{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
img{
	border:none;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
em, i{
	font-style:normal;
}
.w1180{
	margin: 0 auto;
	width: 1180px;
}
.w1200{
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}
.w960{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.pad{
	padding: 18px 0 21px;
}
.head{
	top: 0;
	width: 100%;
	height: 80px;
	border-top: 4px solid rgb(255,87,26);
	position: relative;	
}
.logo{
	float: left;
	width: 82px;
	height: 36px;
	margin-right: 18px;
	background: url(../images/logo.png) no-repeat;
}
.city_chose{
	position: relative;
	float: left;
	width: 86px;
	height: 28px;
	margin: 4px 32px 2px 0;
	border-radius: 3px;
	line-height: 28px;
	border: 1px solid rgb(237,237,237);
}
.city_chose span{
	font-size: 14px;
	padding-left: 20px;
	color: rgb(102,102,102);
	cursor: pointer;
}
.city_chose span i{
	padding-left: 20px;
}
.subnav{
	position: absolute;
	top: 30px;
	left: 0;
	width: 363px;
	border: 1px solid rgb(255,88,26);
	background: rgb(255,255,255);
	overflow: hidden;
	z-index: 2;
	display: none;
}
.subnav_box{
	padding: 20px;
	background: rgb(255,255,255);
}
.hot_city{
	border-bottom: 1px solid rgb(237,237,237);
	color: rgb(119,119,119);
	padding-bottom: 20px;
	font-size: 13px;
}
.hot_city span{
	padding: 0;
	margin-right: 15px;
}
.hot_city a{
	color: rgb(255,87,25);
	margin-left: 10px;
	font-size: 13px;
}
.area_city{
	margin-top: 20px;
	font-size: 13px;	
}
.area_line{
	position: relative;
	padding-left: 42px;
}
.area_line span{
	position: absolute;
	left: 0;
	line-height: 28px;
	padding: 0;
	color: rgb(119,119,119);
	padding-right: 15px;
	border-right: 1px solid rgb(237,237,237);
}
.area_line a{
	font-size: 13px;
	line-height: 28px;
	margin-left: 15px;
}
.city_chose:hover .subnav{
	display: block;
}
.menu{
	float: left;
	margin-right: 23px;
}
.submenu{
	float: left;
	line-height: 46px;
	height: 46px;
	display: inline-block;
	font-size: 14px;
	padding: 0 13px;
	border: 2px solid rgb(255,255,255);
	vertical-align: top;
}
.service{
	position: relative;
}
.service_none{
	position: absolute;
	top: 0;
	left: -2px;
	width: 56px;
	height: 116px;
	padding: 0 13px;
	background: rgb(255,255,255);
	border: 2px solid rgb(255,87,26);
	box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	display: none;
	z-index: 2;
}
.submenu1{
	line-height: 42px;
	font-size: 14px;
	margin-bottom: 6px;
}
.submenu2{
	line-height: 30px;
	font-size: 14px;
}
.service:hover .service_none{
	display: block;
}
.color{
	color: rgb(255,87,26);
}
.head a:hover{
	color: rgb(255,87,26);
}
.input{
	position: relative;
	float: left;
	margin-top: 3px;
}
.head input{
	width: 204px;
	height: 18px;
	line-height: 18px;
	padding: 5px;
	padding-left: 7px;
	border: 2px solid rgb(230,230,230);
	color: rgb(153,153,153);
	outline: none;
}
.head button{
	width: 16px;
	height: 16px;
	background: url(../images/head-sprite.png) no-repeat 0 -35px;
	position: absolute;
	top: 9px;
	right: 10px;
	border: none;
	opacity: 0.45;
	filter: alpha(opacity=45);
	cursor: pointer;
}
.head button:hover{
	background: url(../images/head-sprite.png) no-repeat 0 -55px;
}
.head input:focus{
	border-color: rgb(204, 204, 204);
}
.load{
	float: left;
	margin-left: 64px;
}
.sign{
	float: left;
	margin-top: 3px;
	height: 36px;
	line-height: 36px;
	margin-right: 15px;
}
.tel{
	float: left;
	margin-top: 12px;
	margin-left: 9px;
	padding-left: 24px;
	border-left: 1px solid rgb(238,238,238);
}

.foot{
	background: rgb(31,31,31);
	margin-top: 25px;
}
.pad1{
	padding: 30px 0;
}
.foot_first{
	display: inline-block;
	margin-bottom: 30px;
}
.footguide{
	float: left;
	width: 190px;
}
.footguide h1{
	color: rgb(255,255,255);
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
.footguide a{
	color: rgb(113,113,113);
	line-height: 25px;
	display: block;
}
.footguide a:hover{
	text-decoration: underline;
}
.footguide img{
	margin: 3px auto 18px auto;
	width: 66px;
	height: 66px;
	display: block;
}
.footguide p{
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: rgb(113,113,113);
}
.foot_second{
	display: block;
	line-height: 25px;
	margin-bottom: 30px;
}
.foot_second span{
	color: rgb(113,113,113);
}
.foot_second a{
	color: rgb(113,113,113);
	margin-left: 10px;
}
.foot_second a:hover{
	color: rgb(255,85,23);
}
.foot_third{
	border-top: 1px solid rgb(54,54,54);
	border-bottom: 1px solid rgb(54,54,54);
	padding: 10px 0;
	overflow: hidden;
}
.foot_third a{
	float: left;
	display: block;
	margin-right: 25px;
	line-height: 16px;
	color: rgb(113,113,113);
}
.foot_third a:hover{
	text-decoration: underline;
}
.foot p{
	color: rgb(113,113,113);
	margin-top: 10px;
	margin-bottom: 20px;
}
.fixedNav{
	position: fixed;
	right: 0;
	bottom: 50px;
	width: 52px;
	height: 284px;
	z-index: 1;
	transition: width .25s; 
}
.fixedNav:hover{
	width:80px;
}
.fixedNav:hover .anchor span{
	width:auto;
}
.fixedNav div{
	height:34px;
	overflow:hidden;
	background-color:rgb(255, 88, 26);
	text-indent:14px;
	font-size:14px;
	line-height:34px;
	color:white;
}
.anchor{
	float:left;
	width:100%;
	height:54px;
	overflow:hidden;
	background-color:rgb(247, 247, 247);
	border-bottom:1px solid rgb(230, 230, 230);
	border-left:1px solid rgb(230, 230, 230);
	font-size:12px;
	color:rgb(102, 102, 102);
}
.anchor:hover{
	background-color:white;
}
.anchor .pic{
	margin-left: 20px;
	margin-bottom: 5px;	
}
.anchor .pic img{
	margin-top: 10px;
}
.fixedNav .anchor span{
	margin-left:16px;
	display:block;
	width:24px;
	height:12px;
	overflow:hidden;
}
.top{
	position:fixed;
	right:0;
	bottom:50px;
	width:52px;
	height:25px;
	background-color:rgb(51, 51, 51);
	text-align:center;
	font-size:12px;
	line-height:25px;
	color:white;
	cursor:pointer;
	z-index:1;
}









































